<script src="js/dashboard-dashboard.js" defer></script>
<link rel="stylesheet" href="css/dashboard-dashboard.css">
<div id="leds-div">
    <div class="leds"></div>
    <div class="leds"></div>
    <div class="leds"></div>
    <div class="leds"></div>
    <div class="leds"></div>
    <div class="leds"></div>
    <div class="leds"></div>
    <div class="leds"></div>
    <div class="leds"></div>
    <div class="leds"></div>
    <div class="leds"></div>
</div>
<div id="leds-chart">
    <h1>CHART</h1>
</div>