<script src="js/top-menu.js" defer></script>
<link rel="stylesheet" href="css/top-menu.css">
<div id="menu">
    <div id="menuTitle">
        <h1>Title name</h1>
    </div>
    <div id="sites">
        <ul>
            <li><div class="menuPages">Dashboard</div></li>
            <li><div class="menuPages">Sign up</div></li>
            <li><div class="menuPages">Log in</div></li>
        </ul>
    </div>
</div>