<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
        <link rel="stylesheet" href="css/dashboard.css">
        <script src="js/dashboard.js" defer></script>
    </head>
    <body>
        <%- include('partials/top-menu') %>
        <div id="dashboard">
            <div id="left">
                <div id="accountIconDiv">
                    <img id="accountIcon" src="https://img.icons8.com/fluency-systems-filled/100/ffffff/guest-male.png"/>
                </div>
                <h1 id="username"><%= username %></h1>
                <div id="settings">
                    <ul>
                        <li class="listElement">
                            <div class="listElementDiv"></div>
                            Dashboard
                        </li>
                        <li class="listElement">
                            <div class="listElementDiv"></div>
                            Settings
                        </li>
                        <li>
                            <form action='/log-out' method='post'>
                                <button id="log-out">Log out</button>
                            </form>
                            <!-- <p id="log-out">Log out</p> -->
                        </li>
                    </ul>
                </div>
            </div>

            <div id="right">
                <% if (site == 'dashboard-settings') { %>
                    <%- include('partials/dashboard-settings') %>
                <% } %>
                <% if (site == 'dashboard') { %>
                    <%- include('partials/dashboard-dashboard') %>
                <% } %>
            </div>
        </div>
    </body>
</html>