<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Log in</title>
        <link rel="stylesheet" href="css/log-in.css">
        <link rel="stylesheet" href="css/dashboard-dashboard.css">
        <script src="js/log-in.js" defer></script>
    </head>
    <body>
        <%- include('partials/top-menu') %>
        <div id="form">
            <div id="leftForm">
                <div id="formDescription">
                    <img id="accountIcon" src="https://img.icons8.com/fluency-systems-filled/100/ffffff/guest-male.png"/>
                    <h2 id="descriptionTitle">Log in to your account</h2>
                    <p id="descriptionText">
                        Fill in the credentials and log in <br> to acces your dashboard
                    </p>
                </div>
            </div>

            <div id="rightForm">
                <div id="formTitle">
                    <h1>Log in</h1>
                </div>
                <form action="/log-in" method="POST">
                    <input type="text" class="input-text" name="username" placeholder="Username" data-lpignore="true" required>
                    <input type="password" class="input-text" name="password" placeholder="Password" data-lpignore="true" required>
                    <input type="checkbox" id="showPassword">
                    <input type="checkbox" id="keepLoggedIn" name="keepLoggedIn">
                    <label for="keepLoggedIn">Keep me logged in:</label>
                    <div class="button">
                        <button id="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>