<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign up</title>
    </head>
    <body>
        <%- include('partials/top-menu') %>
        <div id="form">
            <div id="leftForm">
                <div id="formTitle">
                    <h1>Sign up</h1>
                </div>
                <form action="/sign-up" method="POST">
                    <input type="text" id="name" class="input" name="name" placeholder="Name" required>
                    <input type="text" id="surname" class="input" name="surname" placeholder="Surname" required>
                    <input type="text" id="email" class="input" name="email" placeholder="Email" required>
                    <input type="text" id="username" class="input" name="username" placeholder="Username" required>
                    <input type="password" id="password" class="input" name="password" placeholder="Password" required>
                    <input type="checkbox" id="keepLoggedIn" class="input" name="keepLoggedIn" placeholder=" ">
                    <label for="keepLoggedIn">Keep me logged in</label>
                    <div class="button">
                        <button id="submit">Submit</button>
                    </div>
                </form>
            </div>

            <div id="rightForm">
                <div id="formDescription">
                    <img id="accountIcon" src="https://img.icons8.com/fluency-systems-filled/100/ffffff/guest-male.png"/>
                    <h2 id="descriptionTitle">Create an account</h2>
                    <p id="descriptionText">
                        Fill in the fields and sign up <br> now to acces the dashboard <br> and more!
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>