#leds-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    border: 1px solid rgba(163, 163, 163, 0.74);
    border-radius: 25px;
    padding: 22px 22px;
    box-shadow: 5px 5px 5px rgba(56, 56, 56, 0.15);
}

.leds {
    background-color: white;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
}

.leds:hover + .led-info {
    opacity: 1;
}

.leds:last-child {
    margin-right: 0;
}

.led-info {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    z-index: 1;
    top: 250px;
}

p {
    margin: 0;
    font-size: small;
}

#info-number {

}

#info-status {
    color: red;
}

#info-owner {

}

#leds-chart {

}