.input-text {
    display: block;
    border-radius: 10px;
    width: 220px;
    height: 38px;
    margin-bottom: 12px;
    border: 2px solid rgba(27, 27, 27, 0.7);
    outline: none;
    padding: 11px;
    box-sizing: border-box;
    transition: 0.3s;
}

.input-text:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

#leds-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    border: 1px solid rgba(163, 163, 163, 0.74);
    border-radius: 25px;
    padding: 22px 22px;
    box-shadow: 5px 5px 5px rgba(56, 56, 56, 0.15);
}

.leds {
    background-color: white;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.3s;
}

.leds:hover + .led-info {
    opacity: 1;
}

.leds:last-child {
    margin-right: 0;
}

.leds:hover {
    box-shadow: 0 0 14px 3.5px rgb(182, 182, 182);
}

.led-info {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    z-index: 1;
    top: 250px;
}

p {
    margin: 0;
    font-size: small;
}

#info-number {

}

@keyframes status-red {
    0% {
        color: rgb(4, 0, 255);
    }

    25% {
        color: rgb(24, 86, 255);
    }

    50% {
        color: rgb(197, 62, 21);
    }

    75% {
        color: rgb(228, 47, 15);
    }

    100% {
        color: rgb(255, 0, 0);
    }
}

#info-status-red {
    animation: status-red 0.25s ease-in;
    animation-fill-mode: forwards;
}

@keyframes status-blue {
    0% {
        color: rgb(255, 0, 0);
    }

    25% {
        color: rgb(197, 62, 21);
    }

    50% {
        color: rgb(21, 122, 218);
    }

    75% {
        color: rgb(24, 86, 255);
    }

    100% {
        color: rgb(4, 0, 255);
    }
}

#info-status-blue {
    animation: status-blue 0.25s ease-in;
    animation-fill-mode: forwards;
}

#info-owner {

}

#leds-chart {

}