:root {
    --form-padding: 20px;
    --description-margin: 6px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
    background-color: rgb(243, 243, 243);
}

input {
    display: block;
    border: 2px solid rgba(27, 27, 27, 0.7);
    border-radius: 14px;
    padding: 10px 18px;
    margin: 10px 0;
}

#formTitle {
    text-align: center;
    margin: 30px 30px;
}

#leftRight {
    display: flex;
    justify-content: space-between;
}

#formDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 90px;
}

#descriptionTitle {
    margin-bottom: var(--description-margin);
}

#descriptionText {
    text-align: center;
    margin-top: var(--description-margin);
}

#form {
    display: flex;
    justify-content: center;
    width: fit-content;
    flex-direction: row;
    margin: 50px auto;
    box-shadow: 3px 3px 7px rgb(107, 107, 107);
    border-radius: 10px;
}

#leftForm {
    border-radius: 10px 0 0 10px;
    background-color: white;
    padding: 17px 17px;
}

#accountIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 30px;
    width: 100px;
    height: 100px;
}

#rightForm {
    background: rgb(88,35,176);
    background: radial-gradient(circle, rgba(88,35,176,1) 0%, rgba(116,35,180,1) 53%);
    color: white;
    border-radius: 0 10px 10px 0;
    padding: 17px 17px;
}

.form-div {
    margin-top: 4px;
    margin-bottom: 4px;
}

#showPassword {
    position: relative;
    right: -88%;
    top: -36.5px;
}

#submit {
    text-transform: uppercase;
    background-color: rgb(110, 48, 214);
    color: white;
    border: 1px solid black;
    border-radius: 2px;
    width: 150px;
    height: 30px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 4px;
}